@using MaterialStatus.Service
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon_material_status.ico">
    <link type="text/css" rel="stylesheet" href="~/css/main.min.css"/>
</head>
<body>
    @Html.Partial("HeaderMainPagePartial") <!-- HEADER  class="visually-hidden"-->
    <main class="container">       
        <section class="tables">
            <div><a name="top"></a></div>
            <!--foreach  todo-->
            @Html.Partial("TableMaterialPartial")
        </section>
        <aside class="filter-main">
            <!--todo  viasually-hidden-->
            @Html.Partial("ModalFilterMainPartial")
        </aside>
    </main>

    @Html.Partial("FooterPartial") <!-- FOOTER -->
    @Html.Partial("ModalContactPartial")
    @Html.Partial("ModalLocationPartial")
</body>
</html>