@using MaterialStatus.Service
@using MaterialStatus.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon_material_status.ico">
    <link type="text/css" rel="stylesheet" href="~/css/main.min.css" asp-append-version="true"/>
    <script src="/js/script.min.js" async asp-append-version="true"></script>
</head>
<body>
    @Html.Partial("HeaderMainPagePartial") <!-- HEADER  class="visually-hidden"-->

    <main class="container">
        <aside class="filter-main">
            <!--todo  viasually-hidden-->
            @Html.Partial("ModalFilterMainPartial")
        </aside>
        <section class="content-main-page">
            <!-- tables -->
            <div><a name="top"></a></div>
            <!--foreach  todo-->
            @foreach (var item in ViewData["Data"] as List<Dispo>)
            {
                <p>@item.Auftragsnummer</p>}



            @Html.Partial("SyloStatus")
        </section>
    </main>

    @Html.Partial("FooterPartial") <!-- FOOTER -->

    <div class="modal-window" id="modal-contact">
        @Html.Partial("ModalContactPartial")  <!-- MODAL WINDOW -->
        @Html.Partial("ModalLocationPartial")
        <button class="reset-button modal-close" id="contact-close"></button>
    </div>   

</body>
</html>