<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon_material_status.ico">
    <link type="text/css" rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    <script src="/js/script.min.js" async asp-append-version="true"></script>
</head>
<body>
    @Html.Partial("HeaderMainPagePartial")
    <div class="container">
        <aside class="filter-main">@Html.Partial("ModalFilterMainPartial")</aside> <!-- noch zu implementieren -->
        <main>
            <section class="content-main-page">
                <h2 class="visually-hidden">Tabelle für Edelputz 1500, Edelputz 2000 und Grundputz</h2>
                @Html.Partial("TblEdelputz1500Partial")
                @Html.Partial("TblEdelputz2000Partial")
                @Html.Partial("TblGrundputzPartial")
            </section>
            <section class="content-main-page">
                <h2 class="visually-hidden">Füllzustand, Halle G</h2>
                @Html.Partial("Fuellzustand")
            </section>
            <section class="content-main-page">
                <h2>Rohstoffe, Halle G</h2>
                <div class="content-main-page">
                    @Html.Partial("RohstoffSilosG")
                </div>
                
            </section>
        </main>
    </div>   
</body>
</html>