@using MaterialStatus.Service
<secion class="modal-contact">
    <h2 class="visually-hidden">Firmen-Kontakte von Rothenbacher GmbH</h2>    
    <ul class="contact-list">
        <li class="contact-item contact-header">
            Wir sind für Sie da
        </li>
        <li class="contact-item">
            <a class="contact-link" href=@Config.CompanyWebSite target="_blank">@Config.CompanyName</a>
        </li>               
        <li class="contact-item  ">
            <address class="address-wrapper">
                <a class="contact-link adress" href=@Config.CompanyGoogleMapLink target="_blank">
                    @Config.CompanyStreet, <br /> @Config.CompanyCity                       ﻿
                </a>
            </address>
        </li>
        <li class="contact-item">
            <a class="contact-link phone" target="_blank" href="tel:@Config.CompanyPhoneShort">@Config.CompanyPhone</a>                
        </li>
        <li class="contact-item">
            <a class="contact-link fax" target="_blank" href="fax:@Config.CompanyFaxShort">@Config.CompanyFax</a>
        </li>
        <li class="contact-item">
            <a class="contact-link email" href="mailto:@Config.CompanyEmail">@Config.CompanyEmail</a>
        </li>
        <li class="contact-item">
            <a class="contact-link web-address" href=@Config.CompanyWebSite target="_blank">@Config.CompanyWebSiteShort</a>
        </li>
    </ul>
</secion>