@using MaterialStatus.Features.SWB.Models
@using MaterialStatus.Service

<article class="table-wrapper main-filter-item halle-b">
    <h2>Edelputz 1500</h2>
    <table class="table-material">
        <tr class="table-material-row">
            <th class="table-material-header-item">Rezept</th> <!-- => item.Material_Bez -->
            <th class="table-material-header-item">C. Soll</th> <!-- => item.chargenanzahl_soll -->
            <th class="table-material-header-item">C. Ist</th> <!-- => item.chargenanzahl_ist -->
            <th class="table-material-header-item">Soll, Kg</th> <!-- => item.auftrags_gewicht -->
            <th class="table-material-header-item">Ist, Kg </th> <!-- => item.auftrags_gewicht_ist -->
            <th class="table-material-header-item">Ist Sackzahl</th> <!-- ?? -->
            <th class="table-material-header-item">Farbe</th>
            <th class="table-material-header-item">LineId</th>
            <th class="table-material-header-item">StartTime</th>
        </tr>

        @foreach (var item in ViewData["DispoB"] as List<MaterialStatus.Features.SWB.Models.tbl_dispo>)
        {
            if (item.line_id == Config.Edelputz1500_LineId
                & item.start_time > TimeRange.BeginnTestTime
                & item.start_time < TimeRange.EndTestTime)
            {
                <tr class="table-material-row">
                    <td class="table-material-item">@item.Material_Bez</td>
                    <td class="table-material-item">@item.chargenanzahl_soll</td>
                    <td class="table-material-item">@item.chargenanzahl_ist</td>
                    <td class="table-material-item">@Math.Round(item.auftrags_gewicht, 2)</td>
                    <td class="table-material-item">@Math.Round(item.auftrags_gewicht_ist, 2)</td>

                    <td class="table-material-item">
                        <!-- Ist Sackzahl -->
                        @{Sackzahl sackzahl = new Sackzahl(ViewData["DispoB"] as List<MaterialStatus.Features.SWB.Models.tbl_dispo>);}
                        @sackzahl.GetSackzahlSWB(item.auftragsnr, Config.Edelputz1500_LineId)
                    </td>

                    <td class="table-material-item">
                        <!-- Farbbezeichnung -->
                        @{
                            string GetFarbeBezechnung(long farb_id)
                            {
                                string result = "";

                                foreach (var row in ViewData["FarbeBezeichnungB"] as List<MaterialStatus.Features.SWB.Models.tbl_stueckliste_historie_kopf>)
                                {
                                    if (row.Fid_Material == farb_id)
                                    {
                                        result = row.Bezeichnung.ToString();
                                        break;
                                    }
                                }
                                return result;
                            }
                        }
                        @GetFarbeBezechnung(item.farb_id)
                    </td>

                    <td class="table-material-item">@item.line_id</td>
                    <td class="table-material-item">@item.start_time</td>
                </tr>

            }
        }
    </table>
</article>

